h1 {
    color: #6283F8! important;
    font-family: Arial;
}

.row label {
    color: black;
    font-weight: bold;
    font-weight: 500;
}


/*   Estilização do botão    */

.button-custom {
    background-color: #6283F8;
    border: none;
    color: white;
    padding: 8px;
    font-size: 16px;
    width: 150px;
}

.button-custom:hover {
    background-color: #5075ed;
}
.row-button {
    justify-items: center;
}

.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    }
.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #4caf50;
}