{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/usuarios/css/style.css' %}">

</head>

<body>
    <div style="margin-top: 80px" >
        <main>
            <section style="margin-left: 5em">
                <form action="" method="" style="width: 50%; margin: 0 auto;">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6" style="margin-bottom: 10px;">
                            {{ form.nome_cadastro.label_tag }}
                            {{ form.nome_cadastro }}
                        </div>
                        <div class="col-sm-6" style="margin-bottom: 10px;">
                            {{ form.senha.label_tag }}
                            {{ form.senha }}
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                                {{ form.confirma_senha.label_tag }}
                                {{ form.confirma_senha }}
                            </div>
                        </div>
{#                        {% for field in form.visible_fields %}#}
{#                        <div class="col-sm-8" style="margin-bottom: 10px;">#}
{#                            <label for="{{ field.id_for_label }}" style="margin-bottom: 5px;">{{field.label}}</label>#}
{#                            {{ field }}#}
{#                        </div>#}
{#                        {% endfor %}#}
                    <div class="row">
                        <div class="d-grid gap justify-content-end">
                            <button class="button-custom"  style="margin-top: 40px" type="submit">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>

