<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Usuários</title>
    </head>

    <body>
        <h1>Lista de usuários cadastrados</h1>
        <table>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.cpf }}</td>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
